.main-view-container {
    width: 100%;
}

.generator-container {
    padding: var(--padding);
}

.generator-canvas {
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius);
}

.table-container {
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
}

.table-head-container {
    background-color: var(--bg-tertiary);
}