.main-view-container {
    width: 100%;
    margin-bottom: calc(2 * var(--padding));
}

.generator-container {
    padding: var(--padding);
}

.generator-canvas {
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius);
}

.table-container {
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius);
    border: none !important;
}

.table-head-container {
    background-color: var(--bg-tertiary);
}

.selections-tree-container {
    align-self: flex-start;
    height: '100%', 
}

/*
    Customization for MUI Tree:
*/

.css-1nxw7ux-MuiTreeItem-content .MuiTreeItem-label {
    font-family: "Open Sans", serif !important;
    font-size: large !important;
}

.css-1nxw7ux-MuiTreeItem-content.Mui-selected {
    background-color: var(--bg-secondary) !important;
}

@media (max-width: 1200px) {
    .selections-tree-container {
        position: relative !important;
        padding-bottom: calc(var(--padding) * 2);
    }
}

@media (min-width: 1200px) {
    .selections-tree-container {
        position: sticky;
        top: 0;
        padding-right: calc(var(--padding) * 2);
    }
}