.task-item-title {
    text-transform: capitalize;
}

.task-item-container {
    padding: var(--padding);
    /*margin-right: var(--padding) !important;*/
    margin-bottom: var(--padding) !important;
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius);
    /*border: 1px solid var(--border-color);*/
    width: 100% !important;
}

.confirmation-container {
    padding: var(--padding);
}