.header {  
    --Paper-shadow: 'none' !important;
    position: 'fixed';
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    width: 2em;
    height: 2em;
    background-color: var(--bg-tertiary) !important;
    border-radius: var(--border-radius) !important;
    margin: var(--padding) calc(var(--padding) * 1.5) var(--padding) 0;
    padding: calc(var(--padding) / 2);
}

.title {
    color: var(--text-secondary) !important;
}

.css-1ygil4i-MuiToolbar-root {
    padding: 0 !important;
}

@media (max-width: 768px) {
    .header {
        padding: 0 var(--padding) !important;
    }
}

@media (min-width: 768px) and (max-width: 900px) {
    .header {
        padding: 0 calc(var(--padding) * 4) !important;
    }
}

@media (min-width: 900px) {
    .header {
        padding: 0 calc(var(--padding) * 8) !important;
    }
}