.chart-item-container {
    background-color: var(--bg-secondary);
    padding: var(--padding);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
}

.chart-container {
    width: calc(100% - 2 * var(--padding));
    padding: var(--padding);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    background-color: var(--bg-primary);
}