@import "tailwindcss";

:root {
    --spacing: 1em;
    --color-bg-primary: #f0f0f0;
    --color-text-secondary: #666;
    --color-accent-primary: #ff9402;
    --color-accent-secondary: #f74911;
    --border: 1px solid #ccc;
}

@layer base {
    body {
        font-size: large;
    }
}

@layer components {
    button {
        padding: calc(var(--spacing) / 2) !important;
        border-radius: calc(var(--spacing) / 2) !important;
        background-color: var(--color-bg-primary) !important;
        border: var(--border) !important;
        cursor: pointer;
        height: fit-content !important;
    }

    button:hover {
        background-color: #e0e0e0 !important;
    }

    input {
        padding: calc(var(--spacing) / 3) !important;
        border: var(--border) !important;
        border-radius: calc(var(--spacing) / 2) !important;
    }
}

@layer utilities {
    .app {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    /* Color palette: */

    .bg-accent {
        border: 1px solid var(--color-accent-secondary) !important;
        color: var(--color-accent-secondary);
    }


    /* Utils: */

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: var(--border);
        border-radius: calc(var(--spacing) / 2);
        height: --webkit-fill-available !important;
    }

    .border-bottom {
        border-bottom: var(--border);
    }

    .item {
        padding: calc(var(--spacing) / 2) !important;
        border-radius: calc(var(--spacing) / 2) !important;
        border: var(--border) !important;
    }
    
    .carthesian-plane {
        width: inherit;
        height: 100%;
        border-radius: calc(var(--spacing) / 2) !important;
        border: var(--border) !important;
    }

    /* Texts: */

    .text-secondary {
        color: var(--color-text-secondary) !important;
    }

    @media (min-width: 1400px) {
        .lg-screen-spacing-header {
            padding: var(--spacing) calc(var(--spacing) * 2) !important;   
        }

        .lg-screen-spacing-content {
            padding: calc(2 * var(--spacing)) calc(var(--spacing) * 18) !important;
        }
    }
}