@import "tailwindcss";

:root {
    --spacing: 1em;
    --color-bg-primary: #f0f0f0;
    --color-text-secondary: #666;
    --border: 1px solid #ccc;
}

@layer base {
    body {
        font-size: large;
    }
}

@layer components {
    button {
        padding: calc(var(--spacing) / 2) !important;
        border-radius: calc(var(--spacing) / 2) !important;
        background-color: var(--color-bg-primary) !important;
        border: var(--border) !important;
        cursor: pointer;
        height: fit-content !important;
    }

    button:hover {
        background-color: #e0e0e0 !important;
    }

    input {
        padding: calc(var(--spacing) / 2) !important;
        border: var(--border) !important;
        border-radius: calc(var(--spacing) / 2) !important;
    }
}

@layer utilities {
    .app {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .content {
        width: 100%;
        border: var(--border);
        border-radius: calc(var(--spacing) / 2);
    }

    .border-bottom {
        border-bottom: var(--border);
    }

    .item {
        padding: calc(var(--spacing) / 2) !important;
        border-radius: calc(var(--spacing) / 2) !important;
        border: var(--border) !important;
    }

    .chip {
        padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2) !important;
        border-radius: var(--spacing) !important;
        background-color: var(--color-bg-primary) !important;
        border: var(--border);
        width: fit-content !important; 
    }

    /* Texts: */

    .text-secondary {
        color: var(--color-text-secondary) !important;
    }

    @media (min-width: 1400px) {
        .lg-screen-spacing-header {
            padding: var(--spacing) calc(var(--spacing) * 2) !important;   
        }

        .lg-screen-spacing-content {
            padding: calc(2 * var(--spacing)) calc(var(--spacing) * 18) !important;
        }
    }
}