@import './utils.css';

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", serif;
}

:root {
    /* Themes: */
    --bg-primary: #f8f8f8;
    --bg-secondary: #f0f0f0;
    --bg-tertiary: #e0e0e0;
    --text-primary: #000000;
    --text-secondary: #333333;
    --accent-primary: #00c8ff;
    --accent-secondary: #bb5daf;
    --border-color: #b8b8b8;

    /* Layout: */
    --padding: 1em;
    --border-radius: 0.5em;
    --box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.app {
    
}

@media (max-width: 768px) {
    .app {
        width: calc(100% - (var(--padding) * 2));
        padding: 0 calc(var(--padding)) !important;
    }
}

@media (min-width: 768px) and (max-width: 900px) {
    .app {
        width: calc(100% - (var(--padding) * 8));
        padding: 0 calc(var(--padding) * 4) !important;
    }
}

@media (min-width: 900px) {
    .app {
        width: calc(100% - (var(--padding) * 16));
        padding: 0 calc(var(--padding) * 8) !important;
    }
}