@import './utils.css';

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", serif;
}

:root {
    /* Themes: */
    --bg-primary: #f8f8f8;
    --bg-secondary: #f0f0f0;
    --bg-tertiary: #e0e0e0;
    --text-primary: #000000;
    --text-secondary: #333333;
    --accent-primary: #481e9c;
    --accent-secondary: #bb5daf;
    --border-color: #b8b8b8;

    /* Layout: */
    --padding: 1em;
    --border-radius: 0.5em;
}

.app {
    padding: var(--padding);
}

@media (max-width: 768px) {
    .app {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .app {
        width: 75%;
    }
}