header {
    background-color: var(--bg-secondary) !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width {
    width: 100% !important;
}

.select {
    color: var(--text-primary) !important;
    background-color: var(--bg-secondary) !important;
    border: none !important;
    border-radius: var(--border-radius) !important;
    box-shadow: none !important;
}

.bg-secondary {
    background-color: var(--bg-secondary) !important;
    box-shadow: none !important;
    color: var(--text-primary) !important;
}

.text-secondary {
    font-size: small;
    margin-top: 0;
    color: var(--text-secondary) !important;
}