header {
    background-color: var(--bg-secondary) !important;
}

/* 
    Layout:
*/

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.full-width {
    width: 100% !important;
}

.quarter-width {
    width: 25% !important;
}

.no-padding {
    padding: 0 !important;
}

.disabled {
    pointer-events: none !important;
    opacity: 0.5 !important;
}

/* 
    Standard components:
*/

.button {
    padding: calc(var(--padding) / 2) var(--padding) !important;
    background: linear-gradient(to right bottom, var(--accent-primary), var(--accent-secondary));
    text-transform: lowercase !important;
    color: #fff !important;
    border-radius: var(--border-radius) !important;
}

.icon-button {
    position: relative;
    color: var(--text-secondary) !important;
    padding: calc(var(--padding) / 2) !important;
    background-color: var(--bg-tertiary) !important;
    border-radius: var(--border-radius) !important;
    overflow: hidden;
    transition: color 0.5s ease;
}

.icon-button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right bottom, var(--accent-primary), var(--accent-secondary));
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 0;
}

.icon-button:hover {
    color: white !important;
}

.icon-button:hover::before {
    opacity: 1;
}

.icon-button > * {
    position: relative;
    z-index: 1;
}

.select {
    color: var(--text-primary) !important;
    background-color: var(--bg-secondary) !important;
    border: none !important;
    border-radius: var(--border-radius) !important;
    box-shadow: none !important;
}

.input {
    background-color:  var(--bg-secondary);
    color: var(--text-primary);
    border-radius: var(--border-radius) !important;
}

/*
    Colors:
*/

.bg-secondary {
    background-color: var(--bg-secondary) !important;
    box-shadow: none !important;
    color: var(--text-primary) !important;
}

/* 
    Text styles:
*/

.text-secondary {
    font-size: normal;
    margin-top: 0;
    color: var(--text-secondary) !important;
}

/* 
    Animations:
*/

@keyframes colorChangeAccent {
    0% {
        color: inherit;
        background: inherit;
    }
    100% {
        color: white !important;
        background: linear-gradient(to right bottom, var(--accent-primary), var(--accent-secondary));
    }
}


/*
    MUI classes customization:
*/

.MuiOutlinedInput-notchedOutline {
    border: 0 !important;
}


